<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}Biblio{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="/static/css/style.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-default" role="banner">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="/" class="navbar-brand">Bibliothèque</a>
        </div>
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
          <ul class="nav navbar-nav">
            <li id="tab-home"><a href="/">Accueil</a></li>
            <li id="tab-authors"><a href="/authors/">Auteurs</a></li>
            <li id="tab-books"><a href="/books/">Livres</a></li>
            {% if user.perms.biblio.can_edit_database or user.perms.biblio.can_take_book %}
              <li id="tab-user-books"><a href="/user-books/">Livres empruntés</a></li>
            {% endif %}
          </ul>
          
          <ul class="nav navbar-nav navbar-right">
          {% if user.is_authenticated %}
            <li id="tab-logout"><a href="/logout">{{ user }} (Déconnexion)</a></li>
          {% else %}
            <li id="tab-login"><a href="/login">Connexion</a></li>
            <li id="tab-registration"><a href="/registration">Inscription</a></li>
          {% endif %}
          </ul>
        </nav>
      </div>
    </header>
    
    <div class="container">
      <div class="main">
        {% block content %}{% endblock %}
      </div>
    </div>
    
    {% block librairies %}
      <script src="/static/js/jquery-2.0.3.min.js"></script>
      <script src="/static/js/bootstrap.min.js"></script>
    {% endblock %}
    
    <script type="text/javascript">
      var active_tab = "tab-none";
      {% block js %}
      {% endblock %}

      $(active_tab).addClass('active');
    </script>
    
  </body>
</html>
