{% extends 'layout.html' %}

{% block title %}{{ block.super }} ~ Ajouter un auteur{% endblock %}

{% block content %}
<h4 id="name"> Ajouter un auteur </h3> 
<div class="col-md-4 col-md-offset-4">
	<form action="" method="post" accept-charset="UTF-8">{% csrf_token %}
		<div class="form-group">
			<label for="lastname">{{ authorform.lastname.label }}</label>
			<input type="text" class="form-control" name="lastname" id="lastname" value="" />
		</div>
		<div class="form-group">
			<label for="firstname">{{ authorform.firstname.label }}</label>
			<input type="text" class="form-control" name="firstname" id="firstname" value="" />
		</div>
		<button type="submit" class="btn btn-default">Valider</button>
	</form>
</div>
{% endblock %}

{% block js %}
	active_tab='#tab-authors';
{% endblock %}
