{% extends 'layout.html' %}

{% block title %}{{ block.super }} ~ Ajouter un livre{% endblock %}

{% block content %}
<h4 id="name"> Ajouter un livre </h3> 
<div class="col-md-4 col-md-offset-4">
	<form action="" method="post" accept-charset="UTF-8">{% csrf_token %}
		<div class="form-group">
			<label for="title">{{ bookform.title.label }}</label>
			<input type="text" class="form-control" name="title" id="title" value="" />
		</div>
		<div class="form-group">
			<label for="title">{{ bookform.quantity.label }}</label>
			<input type="text" class="form-control" name="quantity" id="quantity" value="0" />
		</div>
		<div class="form-group">
			<label for="firstname">{{ bookform.authors.label }}</label>
			{{ bookform.authors }}
		</div>
		<div class="form-group">
			<label for="subject">{{ bookform.subject.label }}</label>
			{{ bookform.subject }}
		</div>
		<button type="submit" class="btn btn-default">Valider</button>
	</form>
</div>
{% endblock %}

{% block js %}
	active_tab='#tab-books';
{% endblock %}
