{% extends 'layout.html' %}

{% block title %}{{ block.super }} ~ Auteurs{% endblock %}

{% block content %}
	<h1>Les auteurs</h1>
	
	{% if user.perms.biblio.can_edit_database %}
		<a href="/authors/add_author.html"><span class="glyphicon glyphicon-plus"></span> Ajouter un auteur</a>
	{% endif %}
	
	<table class="table table-bordered">
		<thead>
			{% if user.perms.biblio.can_edit_database %}<th>Actions</th>{% endif %}
			<th>Auteur</th>
			<th>Livre(s)</th>
		</thead>
		<tbody>
			{% for a in authors %}
				<tr>
					{% if user.perms.biblio.can_edit_database %}
						<td class="center" width="50px">
							{% if a.books.count == 0 %}
								<a href="/authors/delete/{{a.pk}}"><span class="glyphicon glyphicon-trash"></span></a>
							{% else %}
								<a href="#" onclick="alert('Veuillez supprimer les livres de l\'auteur');return false;"><span class="glyphicon glyphicon-trash"></span></a>
							{% endif %}
							<a href="/authors/edit/{{a.pk}}"><span class="glyphicon glyphicon-pencil"></span></a>
						</td>
					{% endif %}
					
					<td><a href="/author/{{a.pk}}">{{a}}</a></li></td>
					<td>
						{% for b in a.books.all %}
							{{b}}{% if forloop.counter != a.books.count %}, {% endif %}
						{% endfor %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}

{% block js %}
	active_tab='#tab-authors';
{% endblock %}
