{% extends 'layout.html' %}

{% block title %}{{ block.super }} ~ Auteur{% endblock %}

{% block content %}
	<h1>{{author}}</h1>
	
	{% if user.perms.biblio.can_edit_database %}
	
		{% if author.books.count == 0 %}
			<a href="/authors/delete/{{author.pk}}"><span class="glyphicon glyphicon-trash"></span> Supprimer</a><br/>
		{% else %}
			<a href="#" onclick="alert('Veuillez supprimer les livres de l\'auteur');return false;"><span class="glyphicon glyphicon-trash"></span> Supprimer</a><br/>
		{% endif %}
		
		<a href="/authors/edit/{{author.pk}}?next=/author/{{author.pk}}"><span class="glyphicon glyphicon-pencil"></span> Editer</a>
	{% endif %}
	
	<h3>Ses livres</h3>
	<table class="table table-bordered">
		<thead>
			{% if user.perms.biblio.can_edit_database or user.perms.biblio.can_take_book %}<th>Actions</th>{% endif %}
			<th>Quantité dispo</th>
			<th>Titre</th>
			<th>Sujet</th>
			<th>Auteur(s)</th>
		</thead>
		<tbody>
			{% for b in author.books.all %}
				<tr>
					{% if user.perms.biblio.can_edit_database or user.perms.biblio.can_take_book %}
						<td class="center" width="50px">
							{% if user.perms.biblio.can_edit_database %}
								<a href="/books/delete/{{b.pk}}?next=/author/{{author.pk}}"><span class="glyphicon glyphicon-trash"></span></a> <a href="/books/edit/{{b.pk}}?next=/author/{{author.pk}}"><span class="glyphicon glyphicon-pencil"></span></a>
							{% endif %}

							{% if user.perms.biblio.can_take_book %}
								{% if user not in b.users.all and b.dispo > 0 %}
									<a href="/books/take/{{b.pk}}?next=/author/{{author.pk}}"><span class="glyphicon glyphicon-export"></span></a>
								{% endif %}

								{% if user in b.users.all %}
									<a href="/books/give/{{b.pk}}?next=/author/{{author.pk}}"><span class="glyphicon glyphicon-import"></span></a>
								{% endif %}
							{% endif %}
						</td>
					{% endif %}
					<td>{{b.dispo}}</td>
					<td>{{b.title}}</td>
					<td>{{b.subject}}</td>
					<td>
						{% for a in b.authors.all %}
							<a href="/author/{{a.pk}}">{{a}}</a>
							{% if forloop.counter != b.authors.count %}, {% endif %}
						{% endfor %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}

{% block js %}
	active_tab='#tab-authors';
{% endblock %}
