{% extends 'layout.html' %}

{% block title %}{{ block.super }} ~ Livres{% endblock %}

{% block content %}
	<h1>Les livres </h1>
	
	{% if user.perms.biblio.can_edit_database %}<a href="/books/add_book.html"><span class="glyphicon glyphicon-plus"></span> Ajouter un livre</a>{% endif %}
	
	<table class="table table-bordered">
		<thead>
			{% if user.perms.biblio.can_edit_database or user.perms.biblio.can_take_book %}<th>Actions</th>{% endif %}
			<th>Quantité dispo</th>
			<th>Titre</th>
			<th>Sujet</th>
			<th>Auteur(s)</th>
		</thead>
		<tbody>
			{% for b in books %}
				<tr>
					{% if user.perms.biblio.can_edit_database or user.perms.biblio.can_take_book %}
						<td class="center" width="50px">
							{% if user.perms.biblio.can_edit_database %}
								<a href="/books/delete/{{b.pk}}"><span class="glyphicon glyphicon-trash"></span></a> <a href="/books/edit/{{b.pk}}"><span class="glyphicon glyphicon-pencil"></span></a>
							{% endif %}

							{% if user.perms.biblio.can_take_book %}
								{% if user not in b.users.all and b.dispo > 0 %}
									<a href="/books/take/{{b.pk}}"><span class="glyphicon glyphicon-export"></span></a>
								{% endif %}

								{% if user in b.users.all %}
									<a href="/books/give/{{b.pk}}"><span class="glyphicon glyphicon-import"></span></a>
								{% endif %}
							{% endif %}
						</td>
					{% endif %}
					<td>{{b.dispo}}</td>
					<td>{{b.title}}</td>
					<td>{{b.subject}}</td>
					<td>
						{% for a in b.authors.all %}
							<a href="/author/{{a.pk}}">{{a}}</a>{% if forloop.counter != b.authors.count %}, {% endif %}
						{% endfor %}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}

{% block js %}
	active_tab='#tab-books';
{% endblock %}
