{% extends "layout.html" %}

{% block title %}{{ block.super }} | Inscription{% endblock %}

{% block content %}
<div class="col-md-4 col-md-offset-4">
	<h1> Inscription </h1> 
	{% if state != "" %}<div class="alert alert-danger">{{ state }}</div>{% endif %}
	<form action="" method="post" accept-charset="UTF-8">{% csrf_token %}
		<div class="form-group">
			<label for="username">Nom d'utilisateur</label>
			<input type="text" class="form-control" name="username" id="username" value="{{ username }}" />
		</div>
		<div class="form-group">
			<label for="password">Mot de passe</label>
			<input type="password" class="form-control" name="password" id="password" value="" />
		</div>
		<div class="form-group">
			<label for="password">Confirmation</label>
			<input type="password" class="form-control" name="password_confirm" id="password_confirm" value="" />
		</div>
		<button type="submit" class="btn btn-default">Valider</button>
	</form>
</div>
{% endblock %}

{% block js %}
	activate_tab = '#tab-registration';
{% endblock %}
 
