{% extends 'layout.html' %}

{% block title %}{{ block.super }} ~ Livres empruntés{% endblock %}

{% block content %}
	<h1>Les livres empruntés</h1>
	<table class="table table-bordered">
		<thead>
			{% if user.perms.biblio.can_edit_database %}<th>Actions</th>{% endif %}
			<th>Quantité dispo</th>
			<th>Titre</th>
			<th>Sujet</th>
			<th>Auteur(s)</th>
			{% if user.perms.biblio.can_edit_database %}<th>Utilisateur(s)</th>{% endif %}
		</thead>
		<tbody>
			{% for b in books %}
				{% if b.users.count > 0 %}
					{% if user.perms.biblio.can_edit_database %}
						
						<tr>
							<td class="center" width="50px">
									<a href="/books/delete/{{b.pk}}"><span class="glyphicon glyphicon-trash"></span></a> <a href="/books/edit/{{b.pk}}"><span class="glyphicon glyphicon-pencil"></span></a>
							</td>
							<td>{{b.dispo}}</td>
							<td>{{b.title}}</td>
							<td>{{b.subject}}</td>
							<td>
								{% for a in b.authors.all %}
									<a href="/author/{{a.pk}}">{{a}}</a>{% if forloop.counter != b.authors.count %}, {% endif %}
								{% endfor %}
							</td>
							<td>
								{% for u in b.users.all %}
									{{u}}{% if forloop.counter != b.users.count %}, {% endif %}
								{% endfor %}
							</td>
						</tr>
					
					{% elif user.perms.biblio.can_take_book and user in b.users.all %}
					
						<tr>
							<td class="center" width="50px">
									<a href="/books/give/{{b.pk}}?next=/user-books"><span class="glyphicon glyphicon-import"></span></a>
							</td>
							<td>{{b.dispo}}</td>
							<td>{{b.title}}</td>
							<td>{{b.subject}}</td>
							<td>
								{% for a in b.authors.all %}
									<a href="/author/{{a.pk}}">{{a}}</a>{% if forloop.counter != b.authors.count %}, {% endif %}
								{% endfor %}
							</td>
						</tr>
					
					{% endif %}
				{% endif %}
			{% endfor %}
		</tbody>
	</table>
{% endblock %}

{% block js %}
	active_tab='#tab-user-books';
{% endblock %}
