.glyphicon-trash {
	color:red;
}

.glyphicon-pencil {
	color:#484848;
}

.glyphicon-plus {
	color:green;
}

.glyphicon-import {
	color:red;
}

.glyphicon-export {
	color:green;
}

ul.no-style {
	list-style:none;
}

.center {
	text-align:center;
}
